.timeline {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: max-content;
    position: relative;
    --unit-size: 23px;
    @media(max-width: 560px) {
        --unit-size: 10px;
    }
    &-wrapper{
        padding: 20px 0 60px;
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 15px;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        height: 2px;
        border: 3px solid white;
    }
    
    &__point {
        cursor: pointer;
        position: relative;
        text-align: center;
        z-index: 4;
        --point-color: #0079b2;
        transition: color 0.2s ease-in, background-color 0.2s ease-in;
        
        &:hover, &_active{
            --point-color:#f6d63d;
        }
        
    }
    &__label{
        transition: inherit;
        font:24px "Open Sans Extra",sans-serif;
        margin-top: 15px;
        color: var(--point-color);
    }
    &__dot{
        transition: inherit;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: var(--point-color);
    }
}

.detail {
    &__desc {
        display: none;

        &_open {
            display: block;
            animation: fadeIn 0.4s ease-in;
            
        }
        & .text-publishing, & .desc-publishing{
            color: inherit!important;
        }
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.dragscroll{
    overflow: hidden;
    cursor: grab;
    @media (max-width:1200px) {
        overflow: scroll;
    }
}
summary {
    cursor: pointer;
}
.video{
    width: 100%;
    height: auto;
}
.video video{
    width: 100%;
}
.info-person_bckg-none{
    background-color: white!important;
}